@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  margin: 0px;
  font-family: monospace;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

.menu.dark {
  background-color: #000000aa;
}

.menu-container {
  background-color: white;
  border: 2px solid dimgray;
  padding: 10px;
}

#title {
  color: white;
  font-size: 42px;
  margin-bottom: 20px;
  user-select: none;
}

#instructions {
  color: white;
  font-size: 16px;
  user-select: none;
  display: grid;
  grid-gap: 6px;
}

#play {
  background-color: white;
  color: dimgray;
  font-size: 18px;
  padding: 8px 40px;
  border: none;
  outline: none;
  margin-bottom: 40px;
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes expand {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

.spinable:hover .spinner {
  animation: rotate 2s infinite linear;
}

.expandable:hover .expander {
  animation: expand 1s infinite linear alternate;
}

p.end {
  margin-top: auto;
  margin-bottom: 0 !important;
}

.ant-slider {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.ant-slider-handle {
  border-color: #3C4F6E !important;
}

.ant-slider-track {
  background-color: #3C4F6E !important;
}

h1, p {
  margin-bottom: 0 !important;
}

.details-card {
  overflow: auto;
  height: calc(100vh - 9rem);
}